<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Hardcoded Path -->
		<add key="OutputDirectory" value="C:\FrontaProductImportFile12" />
		<add key="OutputFileName" value="FrontaImportFileTest.xlsx" />
		
		<!-- Hardcoded Values -->
		<add key="Tillverkare" value="Tee Jays" />
		<add key="Huvudkategori" value="10744" />
		<add key="ExtraKategori1" value="459" />
		<add key="ExtraKategori2" value="" />
		<add key="Sortering" value="0" />
		<add key="Dold" value="Nej" />
		<add key="Aktiv" value="Ja" />
		<add key="Leverantör" value="Tee Jays" />
		<add key="ShopId278" value="Ja" />
		<add key="ShopId1" value="Ja" />

		<!-- Group to Huvudkategori mappings -->
		<add key="Group_T-SHIRTS" value="10744" />
		<add key="Group_POLOS" value="10740" />
		<add key="Group_SHIRTS" value="10742" />
		<add key="Group_SWEATSHIRTS" value="10745" />
		<add key="Group_KNITWEAR" value="10743" />
		<add key="Group_FLEACE" value="10745" />
		<add key="Group_OUTER WEAR" value="10738" />
	</appSettings>
</configuration>
